@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movies Mr. Dj_Engiz</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!--Search Section-->
<div class="col-md-6 mx-auto">
    <form asp-action="Search" method="post">
        <div class="input-group">
            <input type="text" class="form-control bg-light" placeholder="Search" name="Search" id="searchbook" value="" />
            <button class="btn btn-success" id="searchBtn">
                Search
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>

<!--Banner Section-->
<div class="container-fluid">

</div>
<!--All Book Section-->
<div class="container-fluid">

</div>
